HELP.md

# Ignore entire target folder
target/

# But allow specific files in target folder
!target/job-0.0.1-SNAPSHOT.jar
!target/job-0.0.1-SNAPSHOT.jar.original

!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
